Source: recsync
Section: libdevel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, epics-debhelper (>= 8.14~),
               epics-dev,
               python-all-dev, python-twisted-core,
Standards-Version: 3.9.6
XS-Python-Version: >= 2.7
Homepage: https://github.com/mdavidsaver/recsync
Vcs-Git: https://github.com/mdavidsaver/recsync.git
Vcs-Browser: https://github.com/mdavidsaver/recsync

Package: epics-recsync-dev
Architecture: any
Depends: libreccaster1.0 (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
Suggests: recceiver,
Description: recsync client
 The client component of recsync.  Pushes record list and meta-info
 to a server (recceiver).
 .
 This package contains headers and libraries needed at build time.

Package: libreccaster1.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: recsync client
 The client component of recsync.  Pushes record list and meta-info
 to a server (recceiver).
 .
 This package contains runtime libraries

Package: recceiver
Architecture: all
Section: admin
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends},
         adduser,
Suggests: epics-recsync-dev,
XB-Python-Version: ${python:Versions}
Description: recsync client
 The client component of recsync.  Pushes record list and meta-info
 to a server (recceiver).
 .
 This package contains the recsync server component.
