
name: recceiver

on:
    push:
      branches: [ "*" ]
      paths:
        - server/**
    pull_request:
      branches: [ "master" ]
      paths:
        - server/**

jobs:
  build-server:
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    strategy:
      matrix:
        include:
          - python-version: "3.6"
            container: "python:3.6"
          - python-version: "3.7"
            container: "python:3.7"
          - python-version: "3.8"
          - python-version: "3.9"
          - python-version: "3.10"
          - python-version: "3.11"
          - python-version: "3.12"
          - python-version: "3.13"
          - python-version: "3.14"
    defaults:
        run:
            working-directory: server
    steps:
        - uses: actions/checkout@v4
        - name: Set up Python ${{ matrix.python-version }}
          if: ${{ !matrix.container }}
          uses: actions/setup-python@v5
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install
          run: |
            python -m pip install --upgrade pip
            pip install .
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    needs: build-server
    defaults:
        run:
            working-directory: server
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install '.[test]'
        python -m pip install .
    - name: Test with pytest
      run: |
        pytest --log-cli-level=DEBUG
